.sidebar-div {
    position: fixed;
    top:57px;
    left: 1px;
    bottom: 0;
    width: 80px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
