p{
/* general videos font*/
  font-family: Roboto, Arial, sans-serif;
}
div{
  margin: 0;
}
.main-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 20px;
  background-color: rgb(250, 249, 249);
}

.thumbnail {
  width: 100%;
}

.firstchannel-div {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 13px;
  margin-top: 5px;
}
.firstchannel-pic {
  border-radius: 50%;
  width: 100%;
}
.firstchennel-description {
  width: 100%;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 550;
}
.authorandstats-div {
  margin-bottom:0;
  display: flex;
  flex-direction: column;
}
.first-author {
  margin-left: 43px;
  font-size: 12px;
  margin-top: -32px;
}
.firstview-stats {
  margin-left: 43px;
  font-size: 12px;
  margin-top: -35px;
}
.secondchennel-description {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
.Markfirst-author {
  margin-left: 43px;
  font-size: 12px;
  margin-top: -10px;

}
